<app-navbar></app-navbar>
<div class="container">
    <div class="body">
        <div class="profile-info">
            <img src="./../assets/istockphoto-1089633230-612x612.jpg" alt="" />
            <div class="content">
                <div class="line">
                    <mat-icon>account_circle</mat-icon>
                    <p>Name</p>
                </div>
                <div class="line">
                    <mat-icon>cake</mat-icon>
                    <p>Age</p>
                </div>
                <div class="line">
                    <mat-icon>favorite</mat-icon>
                    <p>Marital Status</p>
                </div>
                <div class="line">
                    <mat-icon>call</mat-icon>
                    <p>Phone</p>
                </div>
                <div class="line">
                    <mat-icon>wc</mat-icon>
                    <p>Gender</p>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="first-col">
                <div class="content-container medical-analysis">
                    <div class="header">
                        <h1>Medical Analysis</h1>
                    </div>
                    <div class="data">
                        <ul>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <p>Blood</p>
                                    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                                    <p>70 %</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-container medical-history">
                    <div class="header">
                        <h1>Medical History</h1>
                    </div>
                    <div class="data">
                        <ul>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                            <li>diabetic</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sec-col">
                <div class="content-container visits">
                    <div class="header">
                        <h1>Visits Date</h1>
                    </div>
                    <div class="data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="content-container visits">
                    <div class="header">
                        <h1>Next Visit</h1>
                    </div>
                    <div class="data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>December 18, 2020</td>
                                    <td>5:02 PM</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>